@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image:url(f.gif) ;
}
.container{
    max-width: 800px;
    width: 100%;
    background:white;
    padding: 25px 30px;
    border-radius: 6px;
}
.container .title{
font-size: 30px;
font-weight: 500;
position:relative;
}
.container form .user-details{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form .user-details .input-box  {
    margin: 20px 0 12px 0;
    width: calc(100%/3 - 30px);
}
.user-details .input-box .details{
    display: block;
    margin-bottom: 4px;
    font-weight: 400 ;
}
.user-details .input-box input{
    height: 30px;
    width: 90%;
    border-radius: 2px rgb(199, 76, 189);
    padding-left: 10px;
    font-size: 14px;
    border-bottom-width: 1px;
    
}
form .gender-details .gender-title{
    font-size: 18px; 
    font-weight: 400;
}

